:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100%;
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2 {
  font-size: 100%;
  font-weight: 400;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

.breadcrumb {
  li.is-active a {
    color: #363636;
    cursor: default;
    pointer-events: none;
  }

  white-space: nowrap;

  .icon:first-child {
    margin-right: 0.5em;
  }

  font-size: 1rem;
  white-space: nowrap;

  a {
    align-items: center;
    color: #3273dc;
    display: flex;
    justify-content: center;
    padding: 0 0.75em;

    &:hover {
      color: #363636;
    }
  }

  li {
    align-items: center;
    display: flex;

    &:first-child a {
      padding-left: 0;
    }

    &.is-active a {
      color: #363636;
      cursor: default;
      pointer-events: none;
    }

    + li::before {
      color: #b5b5b5;
      content: '\0002f';
    }
  }

  ol,
  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .icon {
    &:first-child {
      margin-right: 0.5em;
    }

    &:last-child {
      margin-left: 0.5em;
    }
  }

  &.is-centered {
    ol,
    ul {
      justify-content: center;
    }
  }

  &.is-right {
    ol,
    ul {
      justify-content: flex-end;
    }
  }
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
}

.title {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;

  &:not(.is-spaced) + .subtitle {
    margin-top: -1.25rem;
  }
}

.subtitle,
.title {
  word-break: break-word;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

section {
  padding: 3rem 1.5rem;
}

.container {
  max-width: 1152px;
  width: 1152px;
  margin: 0 auto;
  position: relative;
}

.columns {
  display: flex;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-content {
  padding: 1.5rem;
}

.card-image {
  display: block;
  position: relative;
}

.image img {
  display: block;
  height: auto;
  width: 100%;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  &.fa-w-18 {
    width: 1.125em;
  }

  display: inline-block;
  font-size: inherit;
  height: 1em;
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width: 1472px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}
